<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= lang %>" lang="<%= lang %>" dir="<%= dir %>">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= msg[lang]['title'] %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">var lang="<%= lang %>", host = "<%= baseUrl %>", notfound = "<%= msg[lang]['notfound'] %>";</script>
    <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <div id="langs"> [
    <% for(var ind in supported) { var l = supported[ind]; %>
      <a href="/s/<%= l %>"><%= l %></a>&nbsp;
    <% } %>
    ] </div>
    <h2 id="title"><%= msg[lang]['title'] %></h2>
    <div id="querybox"><%= msg[lang]['lable'] %>&nbsp;
    <input id="query" type=text value="<%= msg[lang]['wiki'] %>">
    <input id="submit" type=submit value="<%= msg[lang]['shorten'] %>"></div>
    <div id="result"></div>
    <p id="team">by <a href="http://github.com/mountain/shortify">Shortify</a></p>
    <script type="text/javascript" charset="utf-8">$(app);</script>
</body>
</html>

